<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt10">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            height="100px" alt="profile">
                    </div>
                    <h1 class="text-center text-uppercase">Register here</h1>
                    <!-- {{memberForm.value|json}} -->
                    <form [formGroup]="memberForm">
                        <div class="col-md-12">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input type="username" name="username" formControlName="username" matInput
                                    placeholder="Enter here">
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-12">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Educator Name</mat-label>
                                <input type="educator_name" name="educator_name" formControlName="educator_name" matInput
                                    placeholder="Enter here">
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input type="email" name="email" formControlName="email" matInput placeholder="Enter here">
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <!-- <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                                <mat-icon matPrefix>lock</mat-icon>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="container text-center btns">
                            <!-- [disabled]="!memberForm.valid" -->
                            <div class="row">
                                <div class="col-md-12 ">
                                    <a type="submit" mat-raised-button color="primary" (click)="Submit()">Register</a>
                                </div>
                                <div class="col-md-12">
                                    <a type="reset" mat-raised-button routerLink="/login">Login</a>
                                </div>
                                <!-- <div class="col-md-12">
                                    <a type="forgot" mat-button routerLink="/forgot">Forgot Password</a>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<!-- o Agility and Scrum (1 x 2 hours) o Introduction to DevOps (1 x 2 hours) o Agility and Kanban (1 x 2 hours) o Agile Scrum in Practice (3 x 3.5 hours) o Kanban in Practice(3 x 3.5 hours) o ALM with Jira Agile (1 x 3.5 hours) o Introduction to Scaled Agile Framework (1 x 4 hours) o DevOps CICD Dotnet (4 x 3.5 hours) o SCM using GIT (1 x 3.5 hours) o DevOps CI/CICD (5 x 4 hours) o DevOps using Ansible (3 x 4 hour -->