.w100{
    width: 100%;
}
.container{
    padding-bottom: 15px;
}
mat-form-field{
    padding: 1px 20px;
}
img{
    margin-top: 20px;
}
.btns .row div a{
    width: 100%;
    margin-bottom: 10px;
}
mat-card h1{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
