
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>calendar_month</mat-icon>
        </button>
        <a routerLink="/dashboard">
          <span>Automation</span>
        </a>
        <span class="example-spacer"></span>
        <button type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div *ngIf="userdata == null">
          <a routerLink="login" class="m-2">
            <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              Login
              <!-- <mat-icon>login</mat-icon> -->
            </button>
          </a>
          <a routerLink="signup">
            <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              Signup
            </button>
          </a>
        </div>
        <div *ngIf="userdata">
          
          <a routerLink="dashboard" class="m-2">
            <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              Dashboard
            </button>
          </a>
          <a routerLink="add-courses">
            <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              Add Courses
            </button>
          </a>
          <a (click)="logout()" class="m-2">
            <button mat-raised-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              Logout
              <!-- <mat-icon>login</mat-icon> -->
            </button>
          </a>
        </div>
      </mat-toolbar>
    </p>
  </div>

</mat-drawer-container>
