
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Automation</span>
      <span class="example-spacer"></span>
      <a routerLink="login">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Login<mat-icon>login</mat-icon>
      </button>
    </a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <!-- <mat-icon>signup</mat-icon> -->
        <!-- <span>Signup</span> -->
      </button>
    </mat-toolbar>
  </p>