<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <mat-card class="m-2">
    <div class="row">
      <div class="col-md-3">
        <h2> Total Courses: {{allCourses.length}}</h2>
      </div>
      <div class="col-md-9 excel mb-3">
        <button mat-raised-button (click)="exportToExcel()">Export to Excel
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <mat-form-field appearance="fill" class="w100">
          <mat-label>Month</mat-label>
          <mat-select>
            <mat-option (click)="getAllCourses()">None</mat-option>
            <mat-option *ngFor="let c of monthNames" [value]="c" (click)="getMonthlyData(c)">{{c}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-sm-12">
        <mat-form-field appearance="fill" class="w100">
          <mat-label>Courses</mat-label>
          <mat-select [(value)]="courses">
            <mat-option (click)="onNone()">None</mat-option>
            <mat-option *ngFor="let course of courseDetails" [value]="course.name" (click)="getDataByCName(course.name)">{{course.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w100">
          <mat-label>CR/VCR</mat-label>
          <mat-select [(value)]="mode">
            <mat-option (click)="onNone()">None</mat-option>
            <mat-option value="CR" (click)="getDataByType('CR')">CR</mat-option>
            <mat-option value="VCR" (click)="getDataByType('VCR')">VCR</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w100">
          <mat-label>Start date</mat-label>
          <mat-select [(value)]="start" [(ngModel)]="sortoption">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let c of allCourses" [value]="c.start_date">{{c.start_date | date }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w100">
          <mat-label>End date</mat-label>
          <mat-select [(value)]="end" [(ngModel)]="sortoption">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let c of allCourses" [value]="c.end_date">{{c.end_date | date }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="fill" class="w100">
          <mat-label>Contact Session Timings</mat-label>
          <mat-select [(value)]="contact" [(ngModel)]="sortoption">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let c of allCourses"
              [value]="c.contact_session_timing">{{c.contact_session_timing}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  </div>

</div>
<!-- {{sortoption}} -->
<div class="container-fluid">
<mat-card class="m-2">
  <div class="row ">
    <div class="ctable">
      <table id="exceltable" class="table table-responsive table-striped overflow-hidden">
        <thead>
          <tr>
            <th>#</th>
            <th>offering ID</th>
            <th>Course Name</th>
            <th>Type</th>
            <th>CR/VCR</th>
            <th>Location</th>
            <th>Educator</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Month</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Contact Session Timing</th>
            <th>Venue</th>
            <th>Slots to be Opened</th>
            <th>Registration Link</th>
            <th
              *ngIf="currentUser.authorities[0].authority === 'SCHEDULO' || currentUser.authorities[0].authority === 'EDUCATOR'">
              Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="allCourses.length == 0 || allCourses == null">
            <td colspan="15" align="center"><mat-spinner></mat-spinner>
            <h3>No Data Found!!</h3>
            </td>
          </tr>
          <tr *ngFor="let c of allCourses | coursesSort: sortoption; index as i">
            <td>{{i+1}}</td>
            <td>{{c.offeringId}}</td>
            <td>{{c.course_name}}</td>
            <td>{{c.course_type}}</td>
            <td>{{c.course_mode}}</td>
            <td>{{getLocation(c.location)}}</td>
            <td>{{c.educator.educator_name | titlecase}}</td>
            <td>{{c.start_date | date}}</td>
            <td>{{c.end_date | date}}</td>
            <td>{{c.month}}</td>
            <td>{{timeShort(c.start_time)}}</td>
            <td>{{timeShort(c.end_time)}}</td>
            <td>{{timeConverter(c.contact_session_timing)}}</td>
            <td>{{getLocation(c.venue)}}</td>
            <td>{{c.no_of_slots}}</td>
            <td class="truncate"><a href="{{c.registration_link}}" target="_blank">{{c.registration_link}}</a></td>
            <td
              *ngIf="(currentUser.id === c.educator.id || currentUser.authorities[0].authority === 'SCHEDULO') && (c.registration_link == '' || c.registration_link == null)">
              <button mat-mini-fab color="primary" type="button" (click)="onEdit(i)"><mat-icon>edit</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <mat-paginator 
              #paginator
              class="demo-paginator"
              (page)="handlePageEvent($event)"
              [length]="allCourses.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5,10,25,100]" 
              [showFirstLastButtons]="true"
              aria-label="Select page of courses"></mat-paginator> -->
    </div>
  </div>
</mat-card>
</div>