
<div class="wrapper" >
    <div class="text">
      <h5>Educator</h5>
        <form class="example-form">
            
            <mat-form-field class="example-full-width" style="width:150px; height: 70px;">
              <mat-label style="font-size: 14px !important;">Enter Name</mat-label>
              <input matInput placeholder="Enter name">
            </mat-form-field>
          </form>
          
    </div>
    <div class="courses">
      <h5>Courses</h5>
<mat-form-field appearance="fill" style="width:180px; height: 70px; ">
    <mat-label style="font-size: 14px !important;">courses</mat-label>
    <mat-select [(value)]="courses">
      <mat-option>None</mat-option>
      <mat-option value="Agility and Scrum">Agility and Scrum</mat-option>
      <mat-option value="Introduction to DevOps">Introduction to DevOps</mat-option>
      <mat-option value="Agility and Kanban">Agility and Kanban</mat-option>
      <mat-option value="Agile Scrum in Practice">Agile Scrum in Practice</mat-option>
      <mat-option value="Kanban in Practice">Kanban in Practice</mat-option>
      <mat-option value="ALM with Jira Agile">ALM with Jira Agile</mat-option>
      <mat-option value="Introduction to Scaled Agile Framework">Introduction to Scaled Agile Framework</mat-option>
      <mat-option value="DevOps CICD Dotnet">DevOps CICD Dotnet</mat-option>
      <mat-option value="SCM using GIT">SCM using GIT</mat-option>
      <mat-option value="DevOps CI/CICD">DevOps CI/CICD</mat-option>
      <mat-option value="DevOps using Ansible">DevOps using Ansible</mat-option>
    </mat-select>
  </mat-form-field>
  
  <p>{{courses}}</p>
</div>
<div class="mode">
  <h5>CR/VCR</h5>
<mat-form-field appearance="fill" style="width:180px; height: 70px;">
    <mat-label style="font-size: 14px !important;">CR/VCR</mat-label>
    <mat-select [(value)]="mode">
      <mat-option>None</mat-option>
      <mat-option value="CR">CR</mat-option>
      <mat-option value="VCR">VCR</mat-option>
    </mat-select>
  </mat-form-field>
  
  <p>{{mode}}</p>
</div>
<div class="text">
  <h5>Location & Sub</h5>
    <form class="example-form">
        
        <mat-form-field class="example-full-width" style="width:180px; height: 70px;">
          <mat-label style="font-size: 14px !important;">Enter Location</mat-label>
          <input matInput placeholder="Enter name">
        </mat-form-field>
      </form>
      
</div>
<div class="start">
    <h5>Start Date</h5>
  <mat-form-field appearance="fill" style="width:180px; height: 70px;">
      <mat-label style="font-size: 14px !important;">start date</mat-label>
      <mat-select [(value)]="start">
        <mat-option>None</mat-option>
        <mat-option value="01-Dec-19">1-Dec-19</mat-option>
        <mat-option value="02-Dec-19">2-Dec-19</mat-option>
        <mat-option value="05-Dec-19">5-Dec-19</mat-option>
        <mat-option value="06-Dec-19">6-Dec-19</mat-option>
        <mat-option value="07-Dec-19">7-Dec-19</mat-option>
        <mat-option value="08-Dec-19">8-Dec-19</mat-option>
        <mat-option value="09-Dec-19">9-Dec-19</mat-option>
        <mat-option value="14-Dec-19">14-Dec-19</mat-option>
        <mat-option value="26-Dec-19">26-Dec-19</mat-option>
        <mat-option value="30-Dec-19">30-Dec-19</mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>{{start}}</p>
  </div>
  <div class="end">
    <h5>End Date</h5>
  <mat-form-field appearance="fill" style="width:180px; height: 70px;">
      <mat-label style="font-size: 14px !important;">end date</mat-label>
      <mat-select [(value)]="end">
        <mat-option>None</mat-option>
        <mat-option value="01-Dec-19">1-Dec-19</mat-option>
        <mat-option value="02-Dec-19">2-Dec-19</mat-option>
        <mat-option value="05-Dec-19">5-Dec-19</mat-option>
        <mat-option value="06-Dec-19">6-Dec-19</mat-option>
        <mat-option value="07-Dec-19">7-Dec-19</mat-option>
        <mat-option value="08-Dec-19">8-Dec-19</mat-option>
        <mat-option value="09-Dec-19">9-Dec-19</mat-option>
        <mat-option value="14-Dec-19">14-Dec-19</mat-option>
        <mat-option value="26-Dec-19">26-Dec-19</mat-option>
        <mat-option value="30-Dec-19">30-Dec-19</mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>{{end}}</p>
  </div>
  <div class="end">
    <h5>Contact Session Timings</h5>
  <mat-form-field appearance="fill" style="width:180px; height: 70px;">
      <mat-label style="font-size: 14px !important;">contact session timings</mat-label>
      <mat-select [(value)]="contact">
        <mat-option>None</mat-option>
        <mat-option value="9.00AM-1.00PM">9.00AM-1.00PM</mat-option>
        <mat-option value="9.30AM-1.30PM">9.30AM-1.30PM</mat-option>
        <mat-option value="10.00AM-12.00PM">10.00AM-12.00PM</mat-option>
        <mat-option value="1.30PM-5.30PM">1.30PM-5.30PM</mat-option>
        <mat-option value="2.00PM-4.00PM">2.00PM-4.00PM</mat-option>
        <mat-option value="2.00PM-6.00PM">2.00PM-6.00PM</mat-option>   
      </mat-select>
    </mat-form-field>
    
    <p>{{contact}}</p>
  </div>
  <div class="text">
    <h5>Venue</h5>
    <form class="example-form">
        
        <mat-form-field class="example-full-width" style="width:180px; height: 70px;">
          <mat-label style="font-size: 14px !important;">Venue</mat-label>
          <input matInput placeholder="Enter name">
        </mat-form-field>
      </form>
      
</div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Educator Name</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Courses </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Mode </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    
    <ng-container matColumnDef="courses">
      <th mat-header-cell *matHeaderCellDef> End Time </th>
      <td mat-cell *matCellDef="let element"> {{element.courses}} </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
